In [1]:
import pandas as pd
data=[]
with open('c:/python files/hw.txt') as f:
    for line in f:
        line=line.replace('\n',' ').split('\t')
        data.append(line)

In [2]:
df=pd.DataFrame(data[1:])
df.columns=data[0]
df_target=df
df_target.index=df.iloc[:,0]
df1=df.iloc[:,1:23]
df1.head()
df2=df.iloc[:,23:]

In [3]:
df1_new=df1.astype('str').astype('float')
df2_new=df2.astype('str').astype('float')

In [4]:
df1.head()

,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,A_10,...,A_13,A_14,A_15,A_16,A_17,A_18,A_19,A_20,A_21,A_22
,,,,,,,,,,,,,,,,,,,,,
1007_s_at,9.161542113,9.455209223,9.835564855,9.686364373,9.583874601,9.633983247,9.86787107,9.69415193,10.02846038,9.339144477,...,8.444242431,9.617994558,9.633930888,8.971625029,9.570521729,9.731936237,10.14226699,9.719354405,9.483784817,8.7159064
1053_at,7.194732976,5.418410017,5.624685489,6.366599231,5.90579717,5.811339093,6.700768363,6.929794039,5.613867564,6.174920259,...,5.762482846,5.994199925,6.115530339,5.581737769,6.194123726,6.052180181,5.749565554,5.706199931,5.824982105,5.597713292
117_at,5.125458132,4.562161604,4.524991077,4.776256012,4.180463419,4.930513843,5.415038218,5.681497953,4.048323592,7.924520271,...,5.484199745,5.486043111,5.919665657,6.105498707,4.914586077,8.761017837,5.406066253,5.484849065,4.957882364,5.097841591
121_at,7.101528779,7.415272769,7.3032791,6.875132666,7.332392771,7.5504348,7.07487874,7.324416747,6.806181716,7.474655929,...,8.17968979,7.369550684,7.823820296,7.258392425,7.482314204,7.086101669,7.895842956,7.371375078,7.650658308,7.538902267
1255_g_at,2.841823877,3.035323517,3.107026894,2.852187821,3.169580187,2.943152677,3.021589394,2.918400637,2.839176176,3.122677962,...,2.91055209,2.891613947,3.056504859,2.891126159,2.84126301,2.851459252,2.810804636,2.928620061,2.992406205,3.075229188

In [5]:
A_group=list(df1.columns)
B_group=list(df2.columns)

In [7]:
df_target=df_target.iloc[:,1:]
df_target.head()

,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,A_10,...,B_45,B_46,B_47,B_48,B_49,B_50,B_51,B_52,B_53,B_54
,,,,,,,,,,,,,,,,,,,,,
1007_s_at,9.161542113,9.455209223,9.835564855,9.686364373,9.583874601,9.633983247,9.86787107,9.69415193,10.02846038,9.339144477,...,10.15918117,9.772262488,9.320258436,9.467021295,9.770190207,10.10652561,9.587826077,9.927632334,9.291024275,9.379253823
1053_at,7.194732976,5.418410017,5.624685489,6.366599231,5.90579717,5.811339093,6.700768363,6.929794039,5.613867564,6.174920259,...,5.981008215,5.888862318,5.681438447,5.746669159,6.36729384,6.273088571,5.954768218,6.275289808,5.396657402,6.224585758
117_at,5.125458132,4.562161604,4.524991077,4.776256012,4.180463419,4.930513843,5.415038218,5.681497953,4.048323592,7.924520271,...,4.817013582,5.195022539,5.126341985,4.680299816,4.530713033,4.775353292,5.280075176,5.395868818,5.139650213,4.912502667
121_at,7.101528779,7.415272769,7.3032791,6.875132666,7.332392771,7.5504348,7.07487874,7.324416747,6.806181716,7.474655929,...,7.437680489,7.087400328,6.99394246,7.560866904,6.867234725,7.848957564,7.71929507,6.713394748,7.241193475,6.97164047
1255_g_at,2.841823877,3.035323517,3.107026894,2.852187821,3.169580187,2.943152677,3.021589394,2.918400637,2.839176176,3.122677962,...,2.960753923,2.847526698,2.960202248,3.193814965,2.835369542,2.901168395,3.012653773,2.758338956,2.887304577,2.985713831

In [8]:
sum(df1_new.iloc[0,:])/len(df1_new.columns.values.tolist())

9.539014781136364

In [8]:
###行之數值相加
df1_new['mean_1'] = df1_new.apply(lambda x: x.mean(), axis=1)
df1_new['std_1'] = df1_new.apply(lambda x: x.std(), axis=1)

df1_new.index=df.iloc[:,0]
df1_new.head()

,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,A_10,...,A_15,A_16,A_17,A_18,A_19,A_20,A_21,A_22,mean_1,std_1
,,,,,,,,,,,,,,,,,,,,,
1007_s_at,9.161542,9.455209,9.835565,9.686364,9.583875,9.633983,9.867871,9.694152,10.028460,9.339144,...,9.633931,8.971625,9.570522,9.731936,10.142267,9.719354,9.483785,8.715906,9.539015,0.395452
1053_at,7.194733,5.418410,5.624685,6.366599,5.905797,5.811339,6.700768,6.929794,5.613868,6.174920,...,6.115530,5.581738,6.194124,6.052180,5.749566,5.706200,5.824982,5.597713,6.040175,0.466996
117_at,5.125458,4.562162,4.524991,4.776256,4.180463,4.930514,5.415038,5.681498,4.048324,7.924520,...,5.919666,6.105499,4.914586,8.761018,5.406066,5.484849,4.957882,5.097842,5.373364,1.076589
121_at,7.101529,7.415273,7.303279,6.875133,7.332393,7.550435,7.074879,7.324417,6.806182,7.474656,...,7.823820,7.258392,7.482314,7.086102,7.895843,7.371375,7.650658,7.538902,7.394429,0.309976
1255_g_at,2.841824,3.035324,3.107027,2.852188,3.169580,2.943153,3.021589,2.918401,2.839176,3.122678,...,3.056505,2.891126,2.841263,2.851459,2.810805,2.928620,2.992406,3.075229,2.959748,0.103295

In [9]:
df2_new['mean_2'] = df2_new.apply(lambda x: x.mean(), axis=1)
df2_new['std_2'] = df2_new.apply(lambda x: x.std(), axis=1)

df2_new.index=df.iloc[:,0]
df2_new.head()

,B_1,B_2,B_3,B_4,B_5,B_6,B_7,B_8,B_9,B_10,...,B_47,B_48,B_49,B_50,B_51,B_52,B_53,B_54,mean_2,std_2
,,,,,,,,,,,,,,,,,,,,,
1007_s_at,8.965643,8.117279,9.606092,9.334500,9.646909,9.065281,9.703718,8.674957,9.460499,9.455025,...,9.320258,9.467021,9.770190,10.106526,9.587826,9.927632,9.291024,9.379254,9.311285,0.560763
1053_at,6.327331,4.911622,5.810746,6.070593,5.782662,6.051060,6.262719,6.148798,5.861485,6.264257,...,5.681438,5.746669,6.367294,6.273089,5.954768,6.275290,5.396657,6.224586,5.922225,0.358709
117_at,5.113298,5.655205,5.248388,4.856560,4.552943,5.244279,4.740104,6.802240,5.007028,5.068350,...,5.126342,4.680300,4.530713,4.775353,5.280075,5.395869,5.139650,4.912503,5.441528,0.832085
121_at,7.189890,8.521011,7.334750,7.562977,6.546885,7.655904,7.551384,7.068793,7.541319,7.245858,...,6.993942,7.560867,6.867235,7.848958,7.719295,6.713395,7.241193,6.971640,7.373100,0.353330
1255_g_at,2.803197,3.135819,3.208582,3.333086,2.782497,3.411987,3.126808,2.836701,3.000079,2.941866,...,2.960202,3.193815,2.835370,2.901168,3.012654,2.758339,2.887305,2.985714,2.973116,0.137016

In [10]:
df_target['mean_A']=df1_new[['mean_1']]
df_target['mean_B']=df2_new[['mean_2']]

df_target['std_A']=df1_new[['std_1']]
df_target['std_B']=df2_new[['std_2']]


df_target.head()

,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,A_10,...,B_49,B_50,B_51,B_52,B_53,B_54,mean_A,mean_B,std_A,std_B
,,,,,,,,,,,,,,,,,,,,,
1007_s_at,9.161542113,9.455209223,9.835564855,9.686364373,9.583874601,9.633983247,9.86787107,9.69415193,10.02846038,9.339144477,...,9.770190207,10.10652561,9.587826077,9.927632334,9.291024275,9.379253823,9.539015,9.311285,0.395452,0.560763
1053_at,7.194732976,5.418410017,5.624685489,6.366599231,5.90579717,5.811339093,6.700768363,6.929794039,5.613867564,6.174920259,...,6.36729384,6.273088571,5.954768218,6.275289808,5.396657402,6.224585758,6.040175,5.922225,0.466996,0.358709
117_at,5.125458132,4.562161604,4.524991077,4.776256012,4.180463419,4.930513843,5.415038218,5.681497953,4.048323592,7.924520271,...,4.530713033,4.775353292,5.280075176,5.395868818,5.139650213,4.912502667,5.373364,5.441528,1.076589,0.832085
121_at,7.101528779,7.415272769,7.3032791,6.875132666,7.332392771,7.5504348,7.07487874,7.324416747,6.806181716,7.474655929,...,6.867234725,7.848957564,7.71929507,6.713394748,7.241193475,6.97164047,7.394429,7.373100,0.309976,0.353330
1255_g_at,2.841823877,3.035323517,3.107026894,2.852187821,3.169580187,2.943152677,3.021589394,2.918400637,2.839176176,3.122677962,...,2.835369542,2.901168395,3.012653773,2.758338956,2.887304577,2.985713831,2.959748,2.973116,0.103295,0.137016

In [11]:
idx=list(df_target.index)

In [12]:
from scipy import stats
t,pvalue=stats.ttest_ind(df1_new.loc[idx],df2_new.loc[idx],axis=1)

In [13]:
temp_p=pd.DataFrame(pvalue)
temp_p.index=df.iloc[:,0]
temp_p.columns=['pvalue']

In [14]:
temp_p.head()

             pvalue

1007_s_at  0.993468
1053_at    0.949387
117_at     0.555163
121_at     0.601942
1255_g_at  0.474684

In [15]:
df_target['pvalue']=temp_p['pvalue']

In [16]:
df_target1=df_target[(df_target['mean_A'])>(df_target['mean_B'])]
df_target1=df_target1.sort_values(['pvalue'])
df_target1.head(10)

,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,A_10,...,B_50,B_51,B_52,B_53,B_54,mean_A,mean_B,std_A,std_B,pvalue
,,,,,,,,,,,,,,,,,,,,,
1552283_s_at,4.838304208,4.593222783,5.298333337,5.932774979,3.852688105,5.444599699,5.660342035,5.931732564,4.402441707,4.928457428,...,4.203373398,4.357124142,3.669957351,3.590351122,4.019645448,4.795290,4.218134,0.829299,0.430956,0.021022
206664_at,8.903839363,7.927104569,4.682332768,2.642602205,4.043246768,8.205991984,7.083924147,2.576477983,5.215604198,7.763979993,...,2.860820753,2.97013986,2.883338993,6.492996763,4.847352732,5.188060,4.109464,2.220295,1.625596,0.029364
223969_s_at,5.157114768,8.70613567,6.698718347,4.921550951,9.939932661,7.598226714,5.520730542,9.534315511,11.36906276,7.036487968,...,5.457195877,5.081069792,6.874561346,5.434430955,5.546958872,7.057727,6.105647,1.880675,1.165180,0.038369
221646_s_at,6.646977352,5.980207225,6.983955382,7.41707395,4.77438065,7.395419775,7.460575303,8.013039358,6.083799759,6.488081626,...,5.917414198,5.988472106,5.085677872,5.437704766,5.27913942,6.534086,5.855977,1.006418,0.678868,0.057363
232321_at,7.877768393,6.158342172,4.85350814,4.206071071,4.347205594,5.597596975,7.568902955,5.698679798,5.664689568,8.018171801,...,9.366807032,3.90038322,4.026762091,4.341960979,4.430792857,5.718813,4.872203,1.488143,1.442651,0.058232
218692_at,8.084955576,6.95041823,7.021218161,8.144620789,7.35032086,6.342074117,8.601375622,7.827403905,8.51472078,8.147130435,...,7.303753699,7.362585915,7.533159698,7.302788319,6.706831995,7.312433,6.543587,0.735241,0.906618,0.061363
230104_s_at,5.635380633,5.207858617,5.117296514,5.380545266,4.53692144,5.473969207,6.92679991,4.782415011,6.231095381,6.195594807,...,5.140648055,4.742918402,4.006046766,4.199975967,4.068728609,5.280535,4.750085,0.847605,0.524641,0.066337
223970_at,3.774951793,5.687722757,5.489516125,3.729835104,8.191573087,6.171024431,4.084828658,7.614697802,9.640437128,4.914618028,...,4.067028917,4.172737074,5.603998673,4.35722103,4.573788638,5.321553,4.651516,1.750126,0.914165,0.074329
217320_at,3.966282751,5.257482691,3.249294466,3.275386751,3.783121264,4.371068192,5.978465317,3.109875523,3.586107273,3.291895424,...,3.13591901,3.149142581,3.163212588,3.568221033,3.16709368,4.058433,3.550044,1.189365,0.758197,0.075487
221874_at,5.653503362,4.468966213,4.580254226,4.394883105,5.585076561,4.939920004,6.475399975,6.502351725,7.681403373,6.424100355,...,4.170693591,4.157666539,7.805786665,6.060192136,3.340139999,5.011049,4.420032,1.186897,0.902546,0.078995

In [17]:
df_target2=df_target[(df_target['mean_A'])<(df_target['mean_B'])]
df_target2=df_target2.sort_values(['pvalue'])
df_target2.head(10)

,A_1,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,A_10,...,B_50,B_51,B_52,B_53,B_54,mean_A,mean_B,std_A,std_B,pvalue
,,,,,,,,,,,,,,,,,,,,,
216598_s_at,8.177645387,5.815826678,6.180585655,5.168176163,6.173987903,5.939766667,7.023528752,7.193128348,5.488844217,6.167381667,...,6.825025941,6.549930656,6.410371381,7.28327584,7.14110281,6.463069,7.341623,0.856680,1.073072,0.003776
235629_at,3.987458945,3.753836035,3.684325183,3.872277292,3.230153002,3.349402592,4.385108349,3.939391864,3.42957682,4.294386409,...,4.074935628,4.185198069,3.477620483,4.955306642,3.699783097,3.687316,4.196993,0.469160,0.857748,0.010742
228642_at,4.660819431,5.54296127,4.510082629,4.551298173,4.708834878,4.710504574,4.736792146,5.161679866,4.400115267,4.857573659,...,6.261887276,5.342692408,4.464720794,4.723539983,5.202895977,4.850584,5.283885,0.380524,0.457500,0.012129
241473_at,4.915651944,4.193279984,3.365055231,3.753805125,3.490995016,3.944130808,4.431334919,5.030074366,2.976238933,4.380960092,...,3.921676863,4.233517549,3.360377501,4.150897291,3.909344085,4.009712,4.430650,0.507733,0.594003,0.013503
228342_s_at,3.636411473,3.685957002,3.955246845,3.346647542,3.657105528,3.348060172,3.830343999,3.986063279,3.243659523,3.70335655,...,4.071217112,4.471410718,3.389541385,3.428462677,4.004912358,3.538529,3.904511,0.214400,0.625926,0.016407
222288_at,5.045046241,4.878103995,4.176732739,4.344816574,4.447133016,3.36796953,4.761837994,4.622814929,3.356168417,5.306417032,...,4.496108829,6.090105563,3.830164227,4.875640429,6.032511735,4.802578,5.554283,0.906898,1.390665,0.016586
203423_at,5.727066718,5.946566143,7.559636754,5.726198357,5.527940582,7.063772117,5.711269506,5.791476198,5.583873793,5.422958834,...,10.29184691,8.945803826,5.707497501,6.373270071,9.778952985,6.042944,6.763235,0.585911,1.347608,0.018166
219584_at,3.780615926,4.70735998,3.933293031,3.962256367,3.859603727,4.155699528,4.565697096,4.157373634,3.747312004,4.146195868,...,4.379849433,4.36831936,3.957686015,4.09231429,5.530541873,4.290152,4.786869,0.375350,0.943877,0.019419
202435_s_at,4.577324947,4.408422775,4.045999233,4.206071071,3.91572933,4.076155317,5.145421095,4.28456586,3.947203191,3.926595892,...,4.816827479,5.255425962,4.199778363,4.080614289,6.437122482,4.446587,5.057576,0.566097,1.226398,0.020998
202436_s_at,5.96890527,5.600559245,5.183157837,5.112995033,4.506513439,5.160295852,6.991680455,5.979931424,4.566062481,4.962245231,...,6.405104624,7.331541851,4.632694281,4.740629297,8.128496769,5.563080,6.383399,0.967152,1.623148,0.021773

In [18]:
list(df_target1.index[:10])

['1552283_s_at',
 '206664_at',
 '223969_s_at',
 '221646_s_at',
 '232321_at',
 '218692_at',
 '230104_s_at',
 '223970_at',
 '217320_at',
 '221874_at']

In [19]:
list(df_target2.index[:10])

['216598_s_at',
 '235629_at',
 '228642_at',
 '241473_at',
 '228342_s_at',
 '222288_at',
 '203423_at',
 '219584_at',
 '202435_s_at',
 '202436_s_at']

In [23]:
frames=[df_target1.head(10),df_target2.head(10)]
new_data=pd.concat(frames,keys=['major','minor'])
new_data

                            A_1          A_2          A_3          A_4  \

major 1552283_s_at  4.838304208  4.593222783  5.298333337  5.932774979
      206664_at     8.903839363  7.927104569  4.682332768  2.642602205
      223969_s_at   5.157114768   8.70613567  6.698718347  4.921550951
      221646_s_at   6.646977352  5.980207225  6.983955382   7.41707395
      232321_at     7.877768393  6.158342172   4.85350814  4.206071071
      218692_at     8.084955576   6.95041823  7.021218161  8.144620789
      230104_s_at   5.635380633  5.207858617  5.117296514  5.380545266
      223970_at     3.774951793  5.687722757  5.489516125  3.729835104
      217320_at     3.966282751  5.257482691  3.249294466  3.275386751
      221874_at     5.653503362  4.468966213  4.580254226  4.394883105
minor 216598_s_at   8.177645387  5.815826678  6.180585655  5.168176163
      235629_at     3.987458945  3.753836035  3.684325183  3.872277292
      228642_at     4.660819431   5.54296127  4.510082629  4.551298173
      241473_at     4.915651944  4.193279984  3.365055231  3.753805125
      228342_s_at   3.636411473  3.685957002  3.955246845  3.346647542
      222288_at     5.045046241  4.878103995  4.176732739  4.344816574
      203423_at     5.727066718  5.946566143  7.559636754  5.726198357
      219584_at     3.780615926   4.70735998  3.933293031  3.962256367
      202435_s_at   4.577324947  4.408422775  4.045999233  4.206071071
      202436_s_at    5.96890527  5.600559245  5.183157837  5.112995033

                            A_5          A_6          A_7          A_8  \

major 1552283_s_at  3.852688105  5.444599699  5.660342035  5.931732564
      206664_at     4.043246768  8.205991984  7.083924147  2.576477983
      223969_s_at   9.939932661  7.598226714  5.520730542  9.534315511
      221646_s_at    4.77438065  7.395419775  7.460575303  8.013039358
      232321_at     4.347205594  5.597596975  7.568902955  5.698679798
      218692_at      7.35032086  6.342074117  8.601375622  7.827403905
      230104_s_at    4.53692144  5.473969207   6.92679991  4.782415011
      223970_at     8.191573087  6.171024431  4.084828658  7.614697802
      217320_at     3.783121264  4.371068192  5.978465317  3.109875523
      221874_at     5.585076561  4.939920004  6.475399975  6.502351725
minor 216598_s_at   6.173987903  5.939766667  7.023528752  7.193128348
      235629_at     3.230153002  3.349402592  4.385108349  3.939391864
      228642_at     4.708834878  4.710504574  4.736792146  5.161679866
      241473_at     3.490995016  3.944130808  4.431334919  5.030074366
      228342_s_at   3.657105528  3.348060172  3.830343999  3.986063279
      222288_at     4.447133016   3.36796953  4.761837994  4.622814929
      203423_at     5.527940582  7.063772117  5.711269506  5.791476198
      219584_at     3.859603727  4.155699528  4.565697096  4.157373634
      202435_s_at    3.91572933  4.076155317  5.145421095   4.28456586
      202436_s_at   4.506513439  5.160295852  6.991680455  5.979931424

                            A_9         A_10  ...         B_50         B_51  \
                                              ...
major 1552283_s_at  4.402441707  4.928457428  ...  4.203373398  4.357124142
      206664_at     5.215604198  7.763979993  ...  2.860820753   2.97013986
      223969_s_at   11.36906276  7.036487968  ...  5.457195877  5.081069792
      221646_s_at   6.083799759  6.488081626  ...  5.917414198  5.988472106
      232321_at     5.664689568  8.018171801  ...  9.366807032   3.90038322
      218692_at      8.51472078  8.147130435  ...  7.303753699  7.362585915
      230104_s_at   6.231095381  6.195594807  ...  5.140648055  4.742918402
      223970_at     9.640437128  4.914618028  ...  4.067028917  4.172737074
      217320_at     3.586107273  3.291895424  ...   3.13591901  3.149142581
      221874_at     7.681403373  6.424100355  ...  4.170693591  4.157666539
minor 216598_s_at   5.488844217  6.167381667  ...  6.825025941  6.549930656
      235629_at      3.42957682  4.294386409  ...  4.074935628  4.185198069
      228642_at     4.400115267  4.857573659  ...  6.261887276  5.342692408
      241473_at     2.976238933  4.380960092  ...  3.921676863  4.233517549
      228342_s_at   3.243659523   3.70335655  ...  4.071217112  4.471410718
      222288_at     3.356168417  5.306417032  ...  4.496108829  6.090105563
      203423_at     5.583873793  5.422958834  ...  10.29184691  8.945803826
      219584_at     3.747312004  4.146195868  ...  4.379849433   4.36831936
      202435_s_at   3.947203191  3.926595892  ...  4.816827479  5.255425962
      202436_s_at   4.566062481  4.962245231  ...  6.405104624  7.331541851

                           B_52         B_53         B_54     mean_A  \

major 1552283_s_at  3.669957351  3.590351122  4.019645448   4.795290
      206664_at     2.883338993  6.492996763  4.847352732   5.188060
      223969_s_at   6.874561346  5.434430955  5.546958872   7.057727
      221646_s_at   5.085677872  5.437704766   5.27913942   6.534086
      232321_at     4.026762091  4.341960979  4.430792857   5.718813
      218692_at     7.533159698  7.302788319  6.706831995   7.312433
      230104_s_at   4.006046766  4.199975967  4.068728609   5.280535
      223970_at     5.603998673   4.35722103  4.573788638   5.321553
      217320_at     3.163212588  3.568221033   3.16709368   4.058433
      221874_at     7.805786665  6.060192136  3.340139999   5.011049
minor 216598_s_at   6.410371381   7.28327584   7.14110281   6.463069
      235629_at     3.477620483  4.955306642  3.699783097   3.687316
      228642_at     4.464720794  4.723539983  5.202895977   4.850584
      241473_at     3.360377501  4.150897291  3.909344085   4.009712
      228342_s_at   3.389541385  3.428462677  4.004912358   3.538529
      222288_at     3.830164227  4.875640429  6.032511735   4.802578
      203423_at     5.707497501  6.373270071  9.778952985   6.042944
      219584_at     3.957686015   4.09231429  5.530541873   4.290152
      202435_s_at   4.199778363  4.080614289  6.437122482   4.446587
      202436_s_at   4.632694281  4.740629297  8.128496769   5.563080

                      mean_B     std_A     std_B    pvalue

major 1552283_s_at  4.218134  0.829299  0.430956  0.021022
      206664_at     4.109464  2.220295  1.625596  0.029364
      223969_s_at   6.105647  1.880675  1.165180  0.038369
      221646_s_at   5.855977  1.006418  0.678868  0.057363
      232321_at     4.872203  1.488143  1.442651  0.058232
      218692_at     6.543587  0.735241  0.906618  0.061363
      230104_s_at   4.750085  0.847605  0.524641  0.066337
      223970_at     4.651516  1.750126  0.914165  0.074329
      217320_at     3.550044  1.189365  0.758197  0.075487
      221874_at     4.420032  1.186897  0.902546  0.078995
minor 216598_s_at   7.341623  0.856680  1.073072  0.003776
      235629_at     4.196993  0.469160  0.857748  0.010742
      228642_at     5.283885  0.380524  0.457500  0.012129
      241473_at     4.430650  0.507733  0.594003  0.013503
      228342_s_at   3.904511  0.214400  0.625926  0.016407
      222288_at     5.554283  0.906898  1.390665  0.016586
      203423_at     6.763235  0.585911  1.347608  0.018166
      219584_at     4.786869  0.375350  0.943877  0.019419
      202435_s_at   5.057576  0.566097  1.226398  0.020998
      202436_s_at   6.383399  0.967152  1.623148  0.021773

[20 rows x 81 columns]

#### from scipy import stats
#df111=df1_new[['mean_1']]
#df222=df2_new[['mean_2']]
from scipy import stats 
for i , j in zip(df1_new,df2_new):
    t2, p2 = stats.ttest_ind(df1_new.loc[0,],df2_new.loc[0,])
print("t = " + str(t2))
print("p = " + str(p2))

In [67]:
conti

Ttest_indResult(statistic=1.2082365310482728, pvalue=0.23070242546652503)

In [69]:
df1_new.iloc[0]

A_1        9.161542
A_2        9.455209
A_3        9.835565
A_4        9.686364
A_5        9.583875
A_6        9.633983
A_7        9.867871
A_8        9.694152
A_9       10.028460
A_10       9.339144
A_11       9.787591
A_12       9.753005
A_13       8.444242
A_14       9.617995
A_15       9.633931
A_16       8.971625
A_17       9.570522
A_18       9.731936
A_19      10.142267
A_20       9.719354
A_21       9.483785
A_22       8.715906
mean_1     9.539015
Name: 1007_s_at, dtype: float64

In [22]:
df1_new[['mean_1']]

                mean_1

1007_s_at     9.539015
1053_at       6.040175
117_at        5.373364
121_at        7.394429
1255_g_at     2.959748
1294_at       7.049541
1316_at       5.104211
1320_at       4.318715
1405_i_at     5.606219
1431_at       3.213942
1438_at       6.800168
1487_at       7.015810
1494_f_at     4.944916
1552256_a_at  7.389833
1552257_a_at  7.710237
1552258_at    4.200594
1552261_at    4.606782
1552263_at    4.335201
1552264_a_at  6.021709
1552266_at    3.408848
1552269_at    3.292582
1552271_at    4.823945
1552272_a_at  4.655325
1552274_at    5.940901
1552275_s_at  4.620308
1552276_a_at  5.348064
1552277_a_at  5.905650
1552278_a_at  4.134534
1552279_a_at  5.358661
1552280_at    3.770038
...                ...
65770_at      7.811949
65884_at      6.551286
66053_at      3.634252
71933_at      5.741041
74694_s_at    6.673779
76897_s_at    3.316886
77508_r_at    6.660181
78047_s_at    8.063494
78330_at      4.954643
78383_at      5.924522
78495_at      6.650023
79005_at      6.005402
81737_at      6.735089
81811_at      6.240797
823_at        5.490315
87100_at      5.017128
89476_r_at    7.151458
89948_at      5.228928
89977_at      4.205803
90265_at      9.547673
90610_at      7.155793
91580_at      2.760582
91617_at      6.022653
91682_at      4.993756
91684_g_at    6.263299
91703_at      5.167258
91816_f_at    4.712638
91826_at      6.727090
91920_at      6.589334
91952_at      5.609518

[54613 rows x 1 columns]